@CHARSET "UTF-8";

/* 헤더 */

  #header_ul{
      list-style:none;
      float:right;
  }
  #header_ul>li{
      float:left;
      padding-right:20px;
  }
  .header_a{
      text-decoration:none;
      color:black;
  }
  #header_top{
      float:left;
      width:95%
  }
  
  #logo-container{
  	margin-left:100px;
  }
  
  #logo{
      padding:50px;
      padding-left:100px;
      width:30%;
      float:left;
  }
  #nav{
    clear:left;
    display:flex;
    flex-direction:row;
  }

  #main-menu{
    display:table;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
  }
  #main-menu > li {
    float: left;
    position: relative;
    margin:100px;
  }

#main-menu > li > a {
    font-size: 40px;
    color: black;
    text-align: left;
    text-decoration: none;
    display: block;
  }

#sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
    z-index:10000;
  }

#sub-menu > li >  a {
    color: black;
    text-decoration: none;
    font-size:20px;
  }

#main-menu > li:hover #sub-menu {
    opacity: 1;
    visibility: visible;
  }

#sub-menu > li >  a:hover {
    text-decoration: underline;
  }


/* 메인페이지 */

		 #main-wraper{
        max-width:1500px;
        margin: 0 auto;
      }

      #main-top>h1{
        text-align:center;
      }

      #reco-book{
        width:100%;
        height:400px;
      }

      #main-mid{
        width:100%;
        margin: 0 auto;
        margin-top:30px;
        display:flex;
      }

      #main-service{
        width:30%;
        margin-right:10%;
      }
      
      .main-service td{
      	text-align:center;
      }

      .main-service{
        width:100%;
      }

      .main-service>td{
        text-align:center;
      }

      #main-notice{
        width:60%;
      }

      #main-bottom{
        width:100%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display:flex;
      }

      #main-room{
        width:30%;
        margin-right:10%;
      }
      .main-room{
        list-style:none;
      }
      #main-information{
        width: 60%;
      }
      
      #infor-ul{
      	float:left;
      	margin-right:20%;
      }

      #footer{
          text-align:center;
          clear:left;
      }
      
.carousel-inner{
	width:98.5%;
}

#carouselExampleSlidesOnly{
	display:flex;
	justify-content:center;
	align-items:center;
}
      
      /* 회원가입 */
     
      .list-group-item:not(#menutitle1,#menutitle):hover {
   
    cursor:pointer;
  }
  
  .list-group-item:not(#menutitle,#menutitle1).on{
    background-color: lightgrey;
  }
     
     #menutitle{
	height:50px;
	text-align:center;
	color:white;
	background-color:blue;
	}
	  .list-group-container{
	  margin-top: 5%;
	  margin-left: 1%;
	  width:17.8%;
	  float:left;
	  
	  
	  }
	  .list-group-item:not(#menutitle,#menutitle1):hover {
	    background-color: lightgrey;
	    cursor:pointer;
	  }
     
    #login-group{
        float:left;
        width:20%;
        
    }
    .list-group>li>a{
        text-decoration:none;
        color:black;
    }
    
    .active{
        text-align:center;
    }

    #login-group{
        margin:20px;
    }

    #login-nav{
        margin:20px;
    }

    #login-content{
        float:center;
    }

    .container-regiester {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper-regiester {
  border-bottom: 2px solid rgba(227, 242, 253);
  padding: 25px 40px;
  margin-bottom: 30px;
}

.container-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}

.regiester-form.address {
  width: 300px;
  margin-right: 5px;
}

.regiester-phone {
  width: 150px;
  height: 30px;
}


.regiester-email {
  width: 250px;
}

.regiester-container-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-regiester {
	width:1000px;
 	height: 200px;
}

.title-regiester>p {
	width:900px;
	margin: auto;
 	font-size: 35px;
 	line-height:200px;
 	text-align: center;
}

.subtitle-regiester {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.subtitle-regiester p {
  font-size: 14px;
}

.mark-required {
  color: rgb(237, 48, 14);
}

.regiester-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.regiester-container-address {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.regiester-form {
  height: 30px;
  margin: 5px;
}

.regiester-container-no-margin {
  display: flex;
  align-items: center;
}

.regiester-guide {
  font-size: 11px;
  color: gray;
}

.regiester-btn-frame {
  height: 30px;
  padding: 4px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.regiester-btn-frame.basic {
  color: gray;
  background-color: rgba(227, 242, 253);
}

.regiester-btn-frame.basic:hover {
  background-color: rgba(227, 242, 253);
}

.regiester-btn-frame.primary {
  color: gray;
  background-color: rgba(227, 242, 253);
}

.regiester-btn-frame.primary:hover {
  background-color: rgba(227, 242, 253);
}

.postal-code {
  width: 56px;
  margin-right: 5px;
}


/* 로그인 */
 
    #login-group{
        float:left;
        width:20%;
        
    }
    .list-group>li>a{
        text-decoration:none;
        color:black;
    }
    
    .active{
        text-align:center;
    }

    #login-group{
        margin:20px;
    }

    #login-nav{
        margin:20px;
    }

    #login-content{
        float:center;
    }

    #login-container{
        display:flex;
        align-items:center;
        flex-direction:row;
        justify-content:center;
    }
    
    #login-input{
        margin-top:70px;
    }

    .login-input{
        margin:5px;
        padding-right:70px;
    }

    .login-btn{
        background-color:rgba(227, 242, 253);
        border: 1px solid rgba(227, 242, 253);
    }
    .login-member{
        padding-right:80px;
    }
    .memberBtn{
        display: inline-block !important;
        width: 150px;
        text-align: center;
        text-decoration: none;
        color:black;
        margin-top:20px;
        padding-right:40px;
    }
    
    /* 비밀번호 찾기 */
     
    #login-group{
        float:left;
        width:20%;
        
    }
    .list-group>li>a{
        text-decoration:none;
        color:black;
    }
    
    .active{
        text-align:center;
    }

    #login-group{
        margin:20px;
    }

    #login-nav{
        margin:20px;
    }

    #login-content{
        float:center;
    }

    #login-container{
        display:flex;
        align-items:center;
        flex-direction:row;
        justify-content:center;
    }
    
    #login-input{
        margin-top:70px;
    }

    .login-input{
        margin:5px;
        padding-right:70px;
    }

    .login-btn{
        background-color:rgba(227, 242, 253);
        border: 1px solid rgba(227, 242, 253);
    }
    .login-member{
        padding-right:80px;
    }
    .memberBtn{
        display: inline-block !important;
        width: 150px;
        text-align: center;
        text-decoration: none;
        color:black;
        margin-top:20px;
        padding-right:40px;
    }
    .findId-btn{
        margin-top:20px;
        margin-left:70px;
        background-color:rgba(227, 242, 253);
        border: 1px solid rgba(227, 242, 253);
    }
    
    
    /* 아이디 찾기 */
    
    #login-group{
        float:left;
        width:20%;
        
    }
    .list-group>li>a{
        text-decoration:none;
        color:black;
    }
    
    .active{
        text-align:center;
    }

    #login-group{
        margin:20px;
    }

    #login-nav{
        margin:20px;
    }

    #login-content{
        float:center;
    }

    #login-container{
        display:flex;
        align-items:center;
        flex-direction:row;
        justify-content:center;
    }
    
    #login-input{
        margin-top:70px;
    }

    .login-input{
        margin:5px;
        padding-right:70px;
    }

    .login-btn{
        background-color:rgba(227, 242, 253);
        border: 1px solid rgba(227, 242, 253);
    }
    .login-member{
        padding-right:80px;
    }
    .memberBtn{
        display: inline-block !important;
        width: 150px;
        text-align: center;
        text-decoration: none;
        color:black;
        margin-top:20px;
        padding-right:40px;
    }
    .findId-btn{
        margin-top:20px;
        margin-left:70px;
        background-color:rgba(227, 242, 253);
        border: 1px solid rgba(227, 242, 253);
    }