@charset "UTF-8";

/* 헤더 */

  #header_ul{
      list-style:none;
      float:right;
  }
  #header_ul>li{
      float:left;
      padding-right:20px;
  }
  .header_a{
      text-decoration:none;
      color:black;
  }
  #header_top{
      padding:10px;
      width:60%;
      float:left;
  }
  
  #logo{
      padding:50px;
      padding-left:100px;
      width:30%;
      float:left;
  }
  #nav{
    clear:left;
  }

  #main-menu{
    display:table;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
  }
  #main-menu > li {
    float: left;
    position: relative;
    margin:100px;
  }

#main-menu > li > a {
    font-size: 40px;
    color: black;
    text-align: left;
    text-decoration: none;
    display: block;
  }

#sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
    z-index:10000;
  }

#sub-menu > li >  a {
    color: black;
    text-decoration: none;
    font-size:20px;
  }

#main-menu > li:hover #sub-menu {
    opacity: 1;
    visibility: visible;
  }

#sub-menu > li >  a:hover {
    text-decoration: underline;
  }


/* 메인페이지 */
#header_ul{
          list-style:none;
          float:right;
      }
      #header_ul>li{
          float:left;
          padding-right:20px;
      }
      .header_a{
          text-decoration:none;
          color:black;
      }
      #header_top{
          padding:10px;
          width:60%;
          float:left;
      }
      
      #logo{
          padding:50px;
          padding-left:100px;
          width:30%;
          float:left;
      }
      #nav{
        clear:left;
      }

      #main-menu{
        display:table;
        list-style:none;
        margin-left:auto;
        margin-right:auto;
      }
      #main-menu > li {
        float: left;
        position: relative;
        margin:100px;
      }

    #main-menu > li > a {
        font-size: 40px;
        color: black;
        text-align: left;
        text-decoration: none;
        display: block;
      }

    #sub-menu {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s ease-in;
        z-index:10000;
      }

    #sub-menu > li >  a {
        color: black;
        text-decoration: none;
        font-size:20px;
      }

    #main-menu > li:hover #sub-menu {
        opacity: 1;
        visibility: visible;
      }

    #sub-menu > li >  a:hover {
        text-decoration: underline;
      }
      .image_container{
        height:300px;
        margin:20px;
        z-index:0;
        opacity:10.0;
      }
      .image_readingroom{
          height:200px;
          margin-left:20px;
      }
      .readingroom{
          width:45%;
          float:left;  
          border:1px;        
      }
      #user_info{
          margin:20px;
      }
      #use_inform{
          text-align:left;
      }
      .use_inform{
          float:left;
          width:20%;
          margin-bottom:20px;
      }
      .use_inform>ul{
          font-size:25px;
      }
      .use_inform>ul>li{
          font-size:15px;
      }
      #library_tab{
          clear:left;
          margin:20px;
      }
      #main_cate{
          display:flex;
          margin:30px auto;
      }
      #main_cate>button{
          
          margin:0px 7%;
          width:100px;
          
      }

      #main_list{
          border:1px solid black;
          width:90%;
          height:500px;
          margin: auto;

      }

      #footer{
          text-align:center;
          clear:left;
      }
      
      
      
      /* 회원가입 */
      #header_ul{
            list-style:none;
            float:right;
        }
        #header_ul>li{
            float:left;
            padding-right:20px;
        }
        .header_a{
            text-decoration:none;
            color:black;
        }
        #header_top{
            padding:10px;
            width:60%;
            float:left;
        }
        
        #logo{
            padding:50px;
            padding-left:100px;
            width:30%;
            float:left;
        }
        #nav{
        clear:left;
      }

      #main-menu{
        display:table;
        list-style:none;
        margin-left:auto;
        margin-right:auto;
      }
      #main-menu > li {
        float: left;
        position: relative;
        margin:100px;
      }

    #main-menu > li > a {
        font-size: 40px;
        color: black;
        text-align: left;
        text-decoration: none;
        display: block;
      }

    #sub-menu {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s ease-in;
        z-index:10000;
      }

    #sub-menu > li >  a {
        color: black;
        text-decoration: none;
        font-size:20px;
      }

    #main-menu > li:hover #sub-menu {
        opacity: 1;
        visibility: visible;
      }

    #sub-menu > li >  a:hover {
        text-decoration: underline;
      }
    #login-group{
        float:left;
        width:20%;
        
    }
    .list-group>li>a{
        text-decoration:none;
        color:black;
    }
    
    .active{
        text-align:center;
    }

    #login-group{
        margin:20px;
    }

    #login-nav{
        margin:20px;
    }

    #login-content{
        float:center;
    }

    .container-regiester {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper-regiester {
  border-bottom: 2px solid rgba(227, 242, 253);
  padding: 25px 40px;
  margin-bottom: 30px;
}

.container-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}

.regiester-form.address {
  width: 300px;
  margin-right: 5px;
}

.regiester-phone {
  width: 150px;
  height: 30px;
}


.regiester-email {
  width: 250px;
}

.regiester-container-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-regiester {
	width:1000px;
 	height: 200px;
}

.title-regiester>p {
	width:900px;
	margin: auto;
 	font-size: 35px;
 	line-height:200px;
 	text-align: center;
}

.subtitle-regiester {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.subtitle-regiester p {
  font-size: 14px;
}

.mark-required {
  color: rgb(237, 48, 14);
}

.regiester-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.regiester-container-address {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.regiester-form {
  height: 30px;
  margin: 5px;
}

.regiester-container-no-margin {
  display: flex;
  align-items: center;
}

.regiester-guide {
  font-size: 11px;
  color: gray;
}

.regiester-btn-frame {
  height: 30px;
  padding: 4px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.regiester-btn-frame.basic {
  color: gray;
  background-color: rgba(227, 242, 253);
}

.regiester-btn-frame.basic:hover {
  background-color: rgba(227, 242, 253);
}

.regiester-btn-frame.primary {
  color: gray;
  background-color: rgba(227, 242, 253);
}

.regiester-btn-frame.primary:hover {
  background-color: rgba(227, 242, 253);
}

.postal-code {
  width: 56px;
  margin-right: 5px;
}


/* 로그인 */
 #header_ul{
            list-style:none;
            float:right;
        }
        #header_ul>li{
            float:left;
            padding-right:20px;
        }
        .header_a{
            text-decoration:none;
            color:black;
        }
        #header_top{
            padding:10px;
            width:60%;
            float:left;
        }
        
        #logo{
            padding:50px;
            padding-left:100px;
            width:30%;
            float:left;
        }
        #nav{
        clear:left;
      }

      #main-menu{
        display:table;
        list-style:none;
        margin-left:auto;
        margin-right:auto;
      }
      #main-menu > li {
        float: left;
        position: relative;
        margin:100px;
      }

    #main-menu > li > a {
        font-size: 40px;
        color: black;
        text-align: left;
        text-decoration: none;
        display: block;
      }

    #sub-menu {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s ease-in;
        z-index:10000;
      }

    #sub-menu > li >  a {
        color: black;
        text-decoration: none;
        font-size:20px;
      }

    #main-menu > li:hover #sub-menu {
        opacity: 1;
        visibility: visible;
      }

    #sub-menu > li >  a:hover {
        text-decoration: underline;
      }
    #login-group{
        float:left;
        width:20%;
        
    }
    .list-group>li>a{
        text-decoration:none;
        color:black;
    }
    
    .active{
        text-align:center;
    }

    #login-group{
        margin:20px;
    }

    #login-nav{
        margin:20px;
    }

    #login-content{
        float:center;
    }

    #login-container{
        display:flex;
        align-items:center;
        flex-direction:row;
        justify-content:center;
    }
    
    #login-input{
        margin-top:70px;
    }

    .login-input{
        margin:5px;
        padding-right:70px;
    }

    .login-btn{
        background-color:rgba(227, 242, 253);
        border: 1px solid rgba(227, 242, 253);
    }
    .login-member{
        padding-right:80px;
    }
    .memberBtn{
        display: inline-block !important;
        width: 150px;
        text-align: center;
        text-decoration: none;
        color:black;
        margin-top:20px;
        padding-right:40px;
    }