<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qna">
	<select id="selectQnaList" resultMap="qnaMap">
		SELECT * 
		FROM QNA LEFT JOIN ATTACHMENT USING(QNA_NO)
		ORDER BY QNA_DATE DESC
	</select>  	
  	
  	<select id="countQna" resultType="_int">
  		SELECT COUNT(*) FROM QNA
  	</select>
  	
  	<resultMap type="qna" id="qnaMap">
  		<id column="qna_no" property="qnaNo"/>
  		<id column="user_id" property="userId"/>
  		<id column="qna_title" property="qnaTitle"/>
  		<id column="qna_img" property="qnaImage"/>
  		<id column="qna_date" property="qnaDate"/>
  		<id column="qna_count" property="qnaCount"/>
  		<id column="qna_state" property="qnaState"/>
  		<id column="qna_cate" property="qnaCate"/>
  		
  			<collection property="attachments" ofType="attachment">
			 <id column="attachment_no" property="attachmentNo"/>
			 <id column="original_file_name" property="originalFileName"/>
			 <id column="renamed_file_name" property="renamedFileName"/>
			 <id column="upload_date" property="uploadDate"/>		  			
  			</collection>
  	</resultMap>
  	
  	<resultMap type="attachment" id="attachmentMap">
  	
  	</resultMap>
  	
  	<select id="selectBoard" parameterType="_int" resultMap="qnaMap">
		SELECT * FROM QNA LEFT JOIN ATTACHMENT USING(QNA_NO) WHERE QNA_NO= #{no}  	
 	</select>
</mapper>
 