<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminStudyroom">

	<!-- 총 열람실 조회 -->
	<select id="toManage" resultType="Map">
		SELECT TOTAL_USAGE_SEAT() AS touseseat , TOTAL_REST_SEAT() AS toreseat, TOTAL_NA_SEAT() AS tonaseat 
		FROM DUAL
	</select>

	<!-- 열람실 조회 -->
	<select id="selectManageList" resultMap="studyroomManageMap">
		SELECT * FROM STUDYROOM_MANAGE
	</select>
	
	<!-- 열람실 예약 리스트 -->
	<select id="selectBookingList" resultMap="studyBookingMap">
		SELECT * FROM STUDYROOM_BOOKING JOIN MEMBER USING(USER_ID) 
	</select>
	
	<!-- 열람실 예약 삭제  -->
	<delete id="delBooking" parameterType="_int">
		DELETE FROM STUDYROOM_BOOKING WHERE BOOKING_NO = #{bookingNo}
	</delete>
	
	<resultMap id="studyroomManageMap" type="adminStudyroomManage">
		<id column="studyroom_manage_no" property="studyManageNo"/>
		<result column="study_room_name" property="roomName"/>
		<result column="total_seat" property="toSeat"/>
		<result column="total_usage_seat" property="toUsSeat"/>
		<result column="total_rest_seat" property="toReSeat"/>
		<result column="total_na_seat" property="toNaSeat"/>
	</resultMap>
	
	<resultMap id="studyBookingMap" type="adminStudyroomBooking">
		<id column="booking_no" property="bookingNo"/>
		<result column="studyroom_type" property="roomName"/>
		<result column="seat_no" property="seatNo"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="usage_date" property="usageDate"/>
		<collection property="member" ofType="member">
			<id column="user_id" property="userId"/>
			<result column="user_password" property="userPassword"/>
			<result column="user_name" property="userName"/>
			<result column="email" property="email"/>
			<result column="birth_date" property="birthDate"/>
			<result column="address" property="address"/>
			<result column="phone" property="phone"/>
			<result column="signup_date" property="signupDate"/>
		</collection>
	</resultMap>

</mapper>
