<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminBook">
	
	<!-- isbn 중복검사 -->
	<select id="checkIsbn" parameterType="String" resultType="_int">
		SELECT COUNT(*) FROM BOOK_INFO WHERE ISBN_NO = #{isbnNo}
	</select>
	
	<!-- isbn 등록 -->
	<insert id="insertBookInfo" parameterType="bookInfo">
		INSERT INTO BOOK_INFO VALUES(#{isbnNo},#{bookName},#{bookWriter},#{bookCompany},#{bookDate},#{bookPrice},#{bookLocation},#{bookContent},#{bookImg},#{bookKdc})
	</insert>
	
	<!-- 도서 parsing -->
	<!-- <insert id="insertBookParsing" parameterType="Map">
		INSERT INTO BOOK_INFO_PARSING VALUES(SEQ_BOOK_PARSING_NO.NEXTVAL,#{isbnNo},#{bookParName},#{bookParWriter},#{bookParCompany})
	</insert> -->
	
	<!-- 도서등록 -->
	<insert id="insertBook" parameterType="bookInfo">
		INSERT INTO BOOK VALUES(SEQ_BOOK_NO.NEXTVAL,#{isbnNo},default,defaul)
	</insert>
	
	<!-- 도서목록 -->
	<select id="selectBookList" resultMap="bookMap">
		select * from BOOK JOIN BOOK_INFO USING(ISBN_NO) JOIN KDC_DETAIL ON(BOOK_KDC=KDC_DETAIL_NO) JOIN KDC_NO USING(KDC_NO)
	</select>
	
	<!-- 총도서 -->
	<select id="totalBook" resultType="_int">
		SELECT COUNT(*) FROM BOOK
	</select>
	
	<!-- 도서 Key 목록 -->
	<select id="searchKeyBook" parameterType="Map" resultMap="bookMap">
		SELECT * FROM BOOK JOIN BOOK_INFO USING(ISBN_NO) JOIN KDC_DETAIL ON(BOOK_KDC=KDC_DETAIL_NO) JOIN KDC_NO USING(KDC_NO) 
		WHERE ${searchOption} LIKE '%'||#{searchWord}||'%'
	</select>
	
	<!-- 도서 key 총 도서 -->
	<select id="totalKeyBook" parameterType="Map" resultType="_int">
		SELECT COUNT(*) FROM BOOK JOIN BOOK_INFO USING(ISBN_NO) JOIN KDC_DETAIL ON(BOOK_KDC=KDC_DETAIL_NO) JOIN KDC_NO USING(KDC_NO) 
		WHERE ${searchOption} LIKE '%'||#{searchWord}||'%'
	</select>
	
	<!-- 도서 Detail 목록 -->
	<select id="searchDetBook" parameterType="Map" resultMap="bookMap">
		SELECT * FROM BOOK JOIN BOOK_INFO USING(ISBN_NO) JOIN KDC_DETAIL ON(BOOK_KDC=KDC_DETAIL_NO) JOIN KDC_NO USING(KDC_NO) 
		WHERE 1=1
		
		<if test="iniArr != null and iniArr != ''">
		AND BOOK_NAME 
		<foreach collection="iniArr" item="i" open="BETWEEN" close="" separator="AND" >
				NCHR(#{i})
		</foreach> 
		</if>
		
		<if test="detBookName != null and detBookName != ''">
			AND BOOK_NAME LIKE '%'||#{detBookName}||'%'
		</if>
		<if test="detIsbn != null and detIsbn!= ''">
			AND ISBN_NO LIKE '%'||#{detIsbn}||'%'
		</if>
		<if test="detWriter != null and detWriter != ''">
			AND BOOK_WRITER LIKE '%'||#{detWriter}||'%'
		</if>
		<if test="detPublisher != null and detPublisher != ''">
			AND BOOK_COMPANY LIKE '%'||#{detPublisher}||'%'
		</if>
		<if test="detLow != null and detLow != '' and detHigh != null and detHigh!= '' ">
			AND BOOK_DATE BETWEEN #{detLow} AND #{detHigh}
		</if>
		<if test="detLow != null and detLow != '' and (detHigh == null or detHigh == '') ">
			AND BOOK_DATE BETWEEN #{detLow} AND SYSDATE
		</if>
		
	</select>
	
	<select id="totalDetBook" parameterType="Map" resultType="_int">
		SELECT COUNT(*) FROM BOOK JOIN BOOK_INFO USING(ISBN_NO) JOIN KDC_DETAIL ON(BOOK_KDC=KDC_DETAIL_NO) JOIN KDC_NO USING(KDC_NO) 
		WHERE 1=1
		
		<if test="iniArr != null and iniArr != ''">
		AND BOOK_NAME 
		<foreach collection="iniArr" item="i" open="BETWEEN" close="" separator="AND" >
				NCHR(#{i})
		</foreach> 
		</if>
		
		<if test="detBookName != null and detBookName != ''">
			AND BOOK_NAME LIKE '%'||#{detBookName}||'%'
		</if>
		<if test="detIsbn != null and detIsbn!= ''">
			AND ISBN_NO LIKE '%'||#{detIsbn}||'%'
		</if>
		<if test="detWriter != null and detWriter != ''">
			AND BOOK_WRITER LIKE '%'||#{detWriter}||'%'
		</if>
		<if test="detPublisher != null and detPublisher != ''">
			AND BOOK_COMPANY LIKE '%'||#{detPublisher}||'%'
		</if>
		<if test="detLow != null and detLow != '' and detHigh != null and detHigh!= '' ">
			AND BOOK_DATE BETWEEN #{detLow} AND #{detHigh}
		</if>
		<if test="detLow != null and detLow != '' and (detHigh == null or detHigh == '') ">
			AND BOOK_DATE BETWEEN #{detLow} AND SYSDATE
		</if>
		
	</select>
	
	<!-- 도서삭제 -->
	<delete id="deleteBook" parameterType="Map">
		DELETE FROM BOOK WHERE BOOK_NO IN 
		<foreach collection="bookNo" item="b" open="(" separator="," close=")">
			#{b}
		</foreach>
		   
	</delete>
	
	<!-- resultMap -->
	<!-- book -->
	<resultMap type="book" id="bookMap">
		<id column="book_no" property="bookNo"/>
		<result column="isbn_no" property="isbnNo"/> 
		<result column="booking_state" property="bookingState"/>
		<result column="lending_state" property="lendingState"/>
		<collection property="bookInfo" ofType="bookInfo">
			<id column="isbn_no" property="isbnNo"/>
			<result column="book_name" property="bookName"/>
			<result column="book_writer" property="bookWriter"/>
			<result column="book_company" property="bookCompany"/>
			<result column="book_date" property="bookDate"/>
			<result column="book_price" property="bookPrice"/>
			<result column="book_location" property="bookLocation"/>
			<result column="book_content" property="bookContent"/>
			<result column="book_img" property="bookImg"/>
			<result column="book_kdc" property="bookKdc"/>
 			<collection property="kdcDetail" ofType="kdcDetail">
				<id column="kdc_detail_no" property="kdcDetailNo"/>
				<result column="kdc_detail_name" property="kdcDetailName"/>
				<result column="kdc_no" property="kdcNo"/>
				<collection property="kdcType" ofType="kdcType">
					<id column="kdc_no" property="kdcNo"/>
					<result column="kdc_name" property="kdcName"/>
				</collection>
			</collection>
		</collection>
	</resultMap>
			
			
	
</mapper>
