<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<resultMap type="admin" id="Member">
		<id column="USER_ID" property="userId"/>
		<result column="USER_PASSWORD" property="userPassword"/>
		<result column="USER_NAME" property="userName"/>
		<result column="EMAIL" property="email"/>
		<result column="BIRTH_DATE" property="birthDate"/>
		<result column="ADDRESS" property="address"/>
		<result column="PHONE" property="phone"/>
		<result column="SIGNUP_DATE" property="signupDate"/>
		
	</resultMap>
	
	<select id="selectMemberList" resultMap="Member">
		SELECT *
		FROM MEMBER
	</select>
	
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<select id="searchMember" parameterType="Map" resultMap="Member">
		SELECT * 
		FROM MEMBER
		WHERE ${searchOption} LIKE '%'||#{searchWord}||'%'
	</select>
	
	<select id="totalsearchMember" parameterType="Map" resultType="_int">
		SELECT COUNT(*) 
		FROM MEMBER 
		WHERE ${searchOption} LIKE '%'||#{searchWord}||'%'
	</select>
	
	<delete id="deletemember">
		DELETE FROM MEMBER WHERE USER_ID = #{userId}
	</delete>
	
	<delete id="deletememberList" parameterType="Map">
		DELETE FROM MEMBER WHERE USER_ID IN
		<foreach collection="userId" item="m" open="(" separator="," close=")">
		 #{m}
		</foreach>
	</delete>

	<select id="countVis" parameterType="Map" resultType="Map">
		SELECT COUNT(*) AS VISITOR_COUNT, VISITOR_DATE 
		FROM VISITOR
		WHERE VISITOR_DATE BETWEEN #{rowDate} AND #{highDate}
		GROUP BY VISITOR_DATE
	</select>
	
	<select id="selectMember" resultMap="Member">
		SELECT * 
		FROM MEMBER 
		WHERE USER_ID=#{userId}
	</select>
	
	<update id="updateMember">
		UPDATE MEMBER SET USER_ID=#{userId},
							USER_PASSWORD=#{userPassword},
							USER_NAME=#{userName},
							EMAIL=#{email},
							BIRTH_DATE=#{birthDate},
							ADDRESS=#{address},
							PHONE=#{phone},
							SIGNUP_DATE=#{signupDate}
		WHERE USER_ID=#{userId}
	</update>
	
	<!-- 삭제요청리스트 -->
	<!-- <resultMap type="com.kh.klibrary.admin.member.vo.AdminMemberDrop" id="memberDrop">
		<result column="USER_ID" property="userId"/>
		<result column="DROP_REQUEST" property="dropRequest"/>
		<collection property="Adminmember" ofType="admin">
			<id column="USER_ID" property="userId"/>
			<result column="USER_PASSWORD" property="userPassword"/>
			<result column="USER_NAME" property="userName"/>
			<result column="EMAIL" property="email"/>
			<result column="BIRTH_DATE" property="birthDate"/>
			<result column="ADDRESS" property="address"/>
			<result column="PHONE" property="phone"/>
			<result column="SIGNUP_DATE" property="signupDate"/>
		</collection>
	</resultMap> -->
	
	<resultMap type="com.kh.klibrary.admin.member.vo.AdminMember" id="memberDrops">
			<id column="USER_ID" property="userId"/>
			<result column="USER_PASSWORD" property="userPassword"/>
			<result column="USER_NAME" property="userName"/>
			<result column="EMAIL" property="email"/>
			<result column="BIRTH_DATE" property="birthDate"/>
			<result column="ADDRESS" property="address"/>
			<result column="PHONE" property="phone"/>
			<result column="SIGNUP_DATE" property="signupDate"/>
		<collection property="AdminmemberDrop" ofType="admindrop"><!-- property:vo oftype:config -->
			<result column="USER_ID" property="userId"/>
			<result column="DROP_REQUEST" property="dropRequest"/>
		</collection>
	</resultMap>
	
	<select id="selectDropList" resultMap="memberDrops">
		SELECT * 
		FROM MEMBERDROP JOIN MEMBER USING(USER_ID)
	</select>
	
	<select id="selectDropCount" resultType="_int">
		SELECT COUNT(*) 
		FROM MEMBERDROP JOIN MEMBER USING(USER_ID)
	</select>
	
	<select id="memberWithdrawSearch" parameterType="Map" resultMap="memberDrops">
		SELECT * 
		FROM MEMBERDROP JOIN MEMBER USING(USER_ID)
		WHERE ${searchOption} LIKE '%'||#{searchWord}||'%'
	</select>
	
	<select id="totalmemberWithdrawSearch" parameterType="Map" resultType="_int">
		SELECT COUNT(*) 
		FROM MEMBERDROP JOIN MEMBER USING(USER_ID)
		WHERE ${searchOption} LIKE '%'||#{searchWord}||'%' 
	</select>
	
	<delete id="memberWithdrawDelete">
		DELETE FROM MEMBER WHERE USER_ID = #{userId}
	</delete>
	
	<resultMap type="admindrop" id="memberDrop">
		<id column="USER_ID" property="userId"/>
		<result column="DROP_REQUEST" property="dropRequest"/>
	</resultMap>
	
	<delete id="memberWirthdrawNo">
		DELETE FROM MEMBERDROP WHERE USER_ID = #{userId}
	</delete>
	
	
	
	<delete id="memberWithdrawDeleteList" parameterType="Map">
		DELETE FROM MEMBER WHERE USER_ID IN
		<foreach collection="userId" item="m" open="(" separator="," close=")">
		 #{m}
		</foreach>
	</delete>
	
	<delete id="memberWirthdrawNoList" parameterType="Map">
		DELETE FROM MEMBERDROP WHERE USER_ID IN
		<foreach collection="userId" item="m" open="(" separator="," close=")">
		 #{m}
		</foreach>
	</delete>

</mapper>
