<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="search">
	 <select id="selectBookInfoList" resultMap="bookInfo">
	 	SELECT * FROM BOOK_INFO WHERE ISBN_NO=#{isbn}
	 </select>
	 
	 <resultMap type="com.kh.klibrary.book.model.vo.BookInfo" id="bookInfo">
	 	<result column="ISBN_NO" property="isbnNo" />
	 	<result column="BOOK_NAME" property="bookName"/>
		<result column="BOOK_WRITER" property="bookWriter"/>
		<result column="BOOK_COMPANY" property="bookCompany"/>
		<result column="BOOK_DATE" property="bookDate"/>
		<result column="BOOK_PRICE" property="bookPrice"/>
		<result column="BOOK_LOCATION" property="bookLocation"/>
		<result column="BOOK_CONTENT" property="bookContent"/>
		<result column="BOOK_IMG" property="bookImg"/>
		<result column="BOOK_KDC" property="bookKdc"/>
	 </resultMap>
	 
	<insert id="insertWishBook">
		INSERT INTO WISHBOOK VALUES(SEQ_wishbook_NO.NEXTVAL,#{userId},#{isbn},#{bookName},#{author},#{publisher},#{publishYear},#{price})
	</insert>
	
	<select id="bookRecomend" resultMap="bookInfo">
  		<![CDATA[ 
			SELECT *
			FROM (SELECT * FROM BOOK_INFO ORDER BY DBMS_RANDOM.VALUE)
			WHERE ROWNUM <=5
		]]>
  	</select>
</mapper>
