<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Notice">
  <resultMap type="Notice" id="NoticeMap">
  	<id column="NOTICE_NO" property="noticeNo"/>
  	<result column="USER_ID" property="userId"/>
  	<result column="NOTICE_TITLE" property="noticeTitle"/>
  	<result column="NOTICE_CONTENT" property="NoticeContent"/>
  	<result column="NOTICE_FILE" property="noticeFile"/>
  	<result column="NOTICE_DATE" property="noticeDate"/>
  	<result column="NOTICE_COUNT" property="noticeCount"/>
  </resultMap>
  <select id="selectNoticeList" resultMap="NoticeMap">
  	SELECT * FROM NOTICE ORDER BY NOTICEDATE DESC
  </select>
  
  <select id="selectNoticeCount" resultType="_int">
  	SELECT COUNT(*) FROM NOTICE
  </select>
</mapper> -->
