<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>

			<!-- <typeAlias type="com.kh.klibrary.faq.model.vo" alias="faq"/>
			<typeAlias type="com.kh.klibrary.faq.model.vo.Faq" alias="faq"/> 

			<typeAlias type="com.kh.klibrary.faq.model.vo" alias="faq"/>
			<typeAlias type="com.kh.klibrary.faq.model.vo.Faq" alias="faq"/> -->
			
			<!-- <typeAlias type="com.kh.klibrary.notice.vo.Notice" alias="notice"/>
			 <typeAlias type="com.kh.klibrary.notice.vo.Notice" alias="notice"/> -->

			<typeAlias type="com.kh.klibrary.member.model.vo.MemberT" alias="membert"/> 
			<typeAlias type="com.kh.klibrary.book.model.vo.BookInfo" alias="bookInfo"/>
			<typeAlias type="com.kh.klibrary.book.model.vo.Book" alias="book"/>
			
			<!-- <typeAlias type="com.kh.klibrary.faq.model.vo" alias="faq"/> -->
			<!-- <typeAlias type="com.kh.klibrary.faq.model.vo.Faq" alias="faq"/> -->
			<typeAlias type="com.kh.klibrary.admin.notice.model.vo.Notice" alias="notice"/>
			<typeAlias type="com.kh.klibrary.member.model.vo.MemberT" alias="membert"/>
			
			<typeAlias type="com.kh.klibrary.qna.model.vo.Qna" alias="qna"/>
         	<typeAlias type="com.kh.klibrary.qna.model.vo.Attachment" alias="Attachment"/> 
	</typeAliases> 
</configuration>
